

.navbar {
    width: 100%;
    z-index: 1020;
}
.position-absolute {
    position: absolute!important;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
nav {
    display: block;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-spacing: 0.05rem;
    overflow-x: hidden!important;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
:root {
    font-size: var(--bs-root-font-size);
}
:root {
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-blue: #3f78e0;
    --bs-sky: #5eb9f0;
    --bs-purple: #747ed1;
    --bs-grape: #605dba;
    --bs-violet: #a07cc5;
    --bs-pink: #d16b86;
    --bs-fuchsia: #e668b3;
    --bs-red: #e2626b;
    --bs-orange: #f78b77;
    --bs-yellow: #fab758;
    --bs-green: #45c4a0;
    --bs-leaf: #7cb798;
    --bs-aqua: #54a8c7;
    --bs-navy: #343f52;
    --bs-ash: #9499a3;
    --bs-white: #fff;
    --bs-light: #fefefe;
    --bs-gray: #f6f7f9;
    --bs-dark: #262b32;
    --bs-primary: #3f78e0;
    --bs-secondary: #aab0bc;
    --bs-success: #45c4a0;
    --bs-info: #54a8c7;
    --bs-warning: #fab758;
    --bs-danger: #e2626b;
    --bs-blue-rgb: 63,120,224;
    --bs-sky-rgb: 94,185,240;
    --bs-purple-rgb: 116,126,209;
    --bs-grape-rgb: 96,93,186;
    --bs-violet-rgb: 160,124,197;
    --bs-pink-rgb: 209,107,134;
    --bs-fuchsia-rgb: 230,104,179;
    --bs-red-rgb: 226,98,107;
    --bs-orange-rgb: 247,139,119;
    --bs-yellow-rgb: 250,183,88;
    --bs-green-rgb: 69,196,160;
    --bs-leaf-rgb: 124,183,152;
    --bs-aqua-rgb: 84,168,199;
    --bs-navy-rgb: 52,63,82;
    --bs-ash-rgb: 148,153,163;
    --bs-white-rgb: 255,255,255;

}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
::selection {
    background: rgba(116,126,209,.7);
}
::selection {
    background: rgba(63,120,224,.7);
    color: #fff;
}
.fixed{
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
    background-color: white;
}
.nofixed{
    position: static;
    transition: 0.2s linear;
    top: -50px;
    background-color: white;

}